[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pyright = "*"

[requires]
python_version = "3.10"

[scripts]
main = "python3 codeqlsummurize/__main__.py"
lint = "black ."
format = "black ."
tests = "python -m unittest discover -v -s ./tests -p test_*.py"

[packages]
pyyaml = "*"
