[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pyright = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "black ."
format = "black ."
test = "python -m unittest discover -v -s ./tests -p test_*.py"

